@import url('https://fonts.googleapis.com/css?family=Cute+Font&display=swap');
.menu {
	font:2em 'Cute Font', cursive;
	list-style: none;
	margin: 0;
	padding: 0;

}
.uno  {
	float:left;
	width:40%;
	background-color: #B33600;
	text-align: center;

}


.tres{
	float:right;
	width:20%;
	text-align: center;
	background-color: #FF5B14;
	
}
.info{
	clear: both;
	background-color: #FF5B14;
	
	padding: 10px;
}
.regiones{
	
	padding-left: 5px;
	width:70%;
}
.region-block{
	border: 3px solid #B33600 ;
	margin:5px;
	padding-left:10px;
	clear:both;

}
li.provin{
	list-style-type: none;
	border-radius: 10px;
	background-color: #B33600;
	color:white;
	padding: 5px;
	margin:0 10px;
	display:inline;
}

body {
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FF5B14;
}

a {
  color: white;
}
