doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul.menu
        li.uno 
            a(href='/') Inicio
        li.uno 
            a(href='/info') Region
        li.tres 
            a(href='/contacto') Contacto
    block content
